header{
  background-color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size:50px;
}

footer{
  background-color: blue;
  color: yellow;
  font-size:25px;
}
h4{
  color:white;
  background-color:black;
  font-size: 100px;
}
div{
  background-color:green;
}

button{
  background-color:cyan;
  font-size:50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: orangered;
}
body{
  background-color: darkgray;
}